import(methods)

import(S4Vectors)

importFrom("stats", "binom.test", "chisq.test", "ks.test", "rexp","setNames")

importFrom("utils", "head", "tail")

import(BiocGenerics)

import(IRanges)

import(GenomicRanges)

import(MASS)

import(ggplot2)

import(grid)

import(gridExtra)

import(foreach)

import(graph)

export(shatterseek,SVs,CNVsegs,plot_chromothripsis,
       calculate_confidence_score,classify_chromothripsis,
       summarize_chromothripsis,check_data_quality,
       detect_chromoplexy,plot_chromoplexy,plot_chromoplexy_circular,
       detect_chromoanagenesis)

exportClasses(
	SVs,CNVsegs,chromoth
)

