import(methods)

import(S4Vectors)

importFrom("stats", "binom.test", "chisq.test", "ks.test", "rexp","setNames")

importFrom("utils", "head", "tail")

import(BiocGenerics)

import(IRanges)

import(GenomicRanges)

import(MASS)

import(ggplot2)

import(grid)

import(gridExtra)

import(foreach)

import(graph)

export(shatterseek,SVs,CNVsegs,plot_chromothripsis,
       calculate_confidence_score,classify_chromothripsis,
       summarize_chromothripsis,check_data_quality,
       detect_chromoplexy,plot_chromoplexy,plot_chromoplexy_circular,
       detect_chromosynthesis,plot_chromosynthesis,
       plot_chromosynthesis_heatmap,plot_cn_gradient_scatter,
       detect_chromoanagenesis,
       classify_mixed_mechanisms,plot_mechanism_landscape,
       plot_chromosome_mechanisms,plot_complexity_breakdown,
       plot_mechanism_dominance,plot_mechanism_report,
       analyze_breakpoint_sequences,plot_repair_mechanisms,
       plot_microhomology_distribution,plot_repair_by_svtype,
       plot_breakpoint_report,debug_chromoanagenesis_result,
       debug_mixed_mechanisms)

exportClasses(
	SVs,CNVsegs,chromoth
)

